{% extends 'base.html' %}
{% block body %}
<form method="GET" action="/pedidos/tamanho/">
    <input type="hidden" name="comanda_id" value={{comanda_id}} />
    <button type="submit" name="pedido" value="acaipuro"><img src="../../static/app/img/acaipuro.png" /></button>
    <button type="submit" name="pedido" value="acaibanana"><img src="../../static/app/img/acaibanana.png" /></button>
    <button type="submit" name="pedido" value="acaimorango"><img src="../../static/app/img/acaimorango.png" /></button>
    <button type="submit" name="pedido" value="acaimisto"><img src="../../static/app/img/acaimisto.png" /></button>
    <button type="submit" name="pedido" value="acaitropical"><img src="../../static/app/img/acaitropical.png" /></button>
    <button type="submit" name="pedido" value="acaicupuacu"><img src="../../static/app/img/acaicupuacu.png" /></button>
    <button type="submit" name="pedido" value="acaininho"><img src="../../static/app/img/acaininho.png" /></button>
    <button type="submit" name="pedido" value="acaikids"><img src="../../static/app/img/acaikids.png" /></button>
    <button type="submit" name="pedido" value="acaisensacao"><img src="../../static/app/img/acaisensacao.png" /></button>
    <button type="submit" name="pedido" value="acaiflorestanegra"><img src="../../static/app/img/acaiflorestanegra.png" /></button>
    <button type="submit" name="pedido" value="acainutella"><img src="../../static/app/img/acainutella.png" /></button>
    <button type="submit" name="pedido" value="acaikitkat"><img src="../../static/app/img/acaikitkat.png" /></button>
    <button type="submit" name="pedido" value="acaisonhodevalsa"><img src="../../static/app/img/acaisonhodevalsa.png" /></button>
    <button type="submit" name="pedido" value="acaipower"><img src="../../static/app/img/acaipower.png" /></button>
    <button type="submit" name="pedido" value="acaizerograu"><img src="../../static/app/img/acaizerograu.png" /></button>
    <button type="submit" name="pedido" value="acaipremium"><img src="../../static/app/img/acaipremium.png" /></button>
    <button type="submit" name="pedido" value="acaifit"><img src="../../static/app/img/acaifit.png" /></button>
    <button type="submit" name="pedido" value="acaizero"><img src="../../static/app/img/acaizero.png" /></button>
</form>
{% endblock %}