{% extends 'base.html' %}
{% block body %}
<form method="GET">
    <button type="submit" name="creme" value="cremepuro"><img src="../../static/app/img/cremepuro.png" /></button>
    <button type="submit" name="creme" value="cremebanana"><img src="../../static/app/img/cremebanana.png" /></button>
    <button type="submit" name="creme" value="crememorango"><img src="../../static/app/img/crememorango.png" /></button>
    <button type="submit" name="creme" value="cremeninho"><img src="../../static/app/img/cremeninho.png" /></button>
    <button type="submit" name="creme" value="cremezero"><img src="../../static/app/img/cremezero.png" /></button>
</form>
{% endblock %}