{% extends 'base.html' %}
{% block body %}
<button class="no-click"><img src="../../static/app/img/{{item_atual.acai_item.img}}.png" /></button>
<button class="no-click"><img src="../../static/app/img/{{item_atual.acai_item.tamanho}}.png" /></button>
<form method="POST" action="/pedidos/finalizar/">
    {% csrf_token %}
    <input type="hidden" name="item_id" value="{{item_atual.id}}" />
    <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
    <h3>Adicionais:</h3>
    <div class="col-md-10">
            {% for adicional in adicionais %}
            <label>
                <input type="checkbox" name="adicional2" value="{{adicional.id}}"/>
                <img src="../../static/app/img/adicionais/{{adicional.img}}.png" />
            </label>
            {% endfor %}
        </div>
    <button type="submit">Finalizar</button>
</form>
{% endblock %}