{% extends 'base.html' %}
{% block body %}
<form method="GET">
    <button type="submit" name="casadinho" value="casadinhocupuacu"><img src="../../static/app/img/casadinhocupuacu.png" /></button>
    <button type="submit" name="casadinho" value="casadinhomorango"><img src="../../static/app/img/casadinhomorango.png" /></button>
    <button type="submit" name="casadinho" value="casadinhomaracua"><img src="../../static/app/img/casadinhomaracuja.png" /></button>
    <button type="submit" name="casadinho" value="casadinhoninho"><img src="../../static/app/img/casadinhoninho.png" /></button>
</form>
{% endblock %}