{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/pedidos">Novo Pedido <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link active" href="#">Novo Casadinho <span class="sr-only">(current)</span></a>
                    </li>
            </ul>
        </nav>
    </div>
</div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <form method="GET" action="/pedidos/tamanho">
                    <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                    <button class="fundo1" type="submit" name="pedido" value="casadinhocupuacu"><img src="../../static/img/casadinhocupuacu.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="casadinhomorango"><img src="../../static/img/casadinhomorango.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="casadinhomaracuja"><img src="../../static/img/casadinhomaracuja.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="casadinhoninho"><img src="../../static/img/casadinhoninho.png" /></button>
                </form>
            </div>
        </div>
    </section>
</main>
        {% endblock %}