{% extends 'base.html' %}
{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Pedido</th>
                <th>Tamanho</th>
                <th>Adicionais</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for acais in acais1 %}
            <tr>
                <form method="GET">
                    <input type="hidden" name="comanda_id" value="{{comanda_id}}" />    
                    <input type="hidden" name="item_acai_id" value="{{acais}}" />
                    <td><button class="no-click"><img src="../../static/app/img/{{acais.acai_item.img}}.png" /></button></td>
                    <td><button class="no-click" ><img src="../../static/app/img/{{acais.acai_item.tamanho}}.png" /></button></td>
                    <td><button type="submit" class="style" formaction="/pedidos/adicionais/">Adicionar</button></td>
                    <td><h2>R$ {{acais.total}}</h3></td>
                </form>
            </tr>
            {% endfor %}

            {% for casadinhos in casadinhos1 %}
            <tr>
                <form method="GET">
                    <input type="hidden" name="comanda_id" value="{{comanda_id}}" />   
                    <input type="hidden" name="item_casadinho_id" value="{{casadinhos}}" />
                    <td><button class="no-click"><img src="../../static/app/img/{{casadinhos.casadinho_item.img}}.png" /></button></td>
                    <td><button class="no-click"><img src="../../static/app/img/{{casadinhos.casadinho_item.tamanho}}.png" /></button></td>
                    <td><button type="submit" class="style" formaction="/pedidos/adicionais/">Adicionar</button></td>
                    <td><h2>R$ {{casadinhos.total}}</h3></td>
                </form>
            </tr>
            {% endfor %}
            
            {% for mixs in mixs1 %}
            <tr>
                <form method="GET">
                    <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                    <input type="hidden" name="item_mix_id" value="{{mixs}}" />
                    <td><button class="no-click"><img src="../../static/app/img/{{mixs.mix_item.img}}.png" /></button></td>
                    <td><button class="no-click"><img src="../../static/app/img/{{mixs.mix_item.tamanho}}.png" /></button></td>
                    <td><button type="submit" class="style" formaction="/pedidos/adicionais/">Adicionar</button></td>
                    <td><h2>R$ {{mixs.total}}</h3></td>
                </form>
            </tr>
            {% endfor %}

            {% for cremes in cremes1 %}
            <tr>
                <form method="GET">
                    <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                    <input type="hidden" name="item_creme_id" value="{{cremes}}" />
                    <td><button class="no-click"><img src="../../static/app/img/{{cremes.creme_item.img}}.png" /></button></td>
                    <td><button class="no-click"><img src="../../static/app/img/{{cremes.creme_item.tamanho}}.png" /></button></td>
                    <td><button type="submit" class="style" formaction="/pedidos/adicionais/">Adicionar</button></td>
                    <td><h2>R$ {{cremes.total}}</h3></td>
                </form>
            </tr>
            {% endfor %}

            {% for produtos in produtos1 %}
            <tr>
                <form method="GET">
                    <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                    <input type="hidden" name="item_produto_id" value="{{produtos.id}}" />
                    <td><button class="no-click"><img src="../../static/app/img/{{produtos.produto_item.img}}.png" /></button></td>
                    <td></td>
                    <td></td>
                    <td><h2>R$ {{produtos.total}}</h3></td>
                </form>
            </tr>
            {% endfor %}

            {% for sorvetes in sorvetes1 %}
            <tr>
                <form method="GET">
                    <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                    <input type="hidden" name="item_sorvete_id" value="{{sorvetes}}" />
                    <td><button class="no-click"><img src="../../static/app/img/{{sorvetes.sorvete_item.img}}.png" /></button></td>
                    <td></td>
                    <td><button type="submit" class="style" formaction="/pedidos/adicionais/">Adicionar</button></td>
                    <td><h2>R$ {{sorvetes.total}}</h3></td>
                </form>
            </tr>
            {% endfor %}

            {% for mshakes in mshakes1 %}
            <tr>
                <form method="GET">
                    <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                    <input type="hidden" name="item_mshake_id" value="{{mshakes.id}}" />
                    <td><button class="no-click"><img src="../../static/app/img/{{mshakes.mshake_item.img}}.png" /></button></td>
                    <td><button class="no-click"><img src="../../static/app/img/{{mshakes.mshake_item.tamanho}}.png" /></button></td>
                    <td><button type="submit" class="style" formaction="/pedidos/adicionais/">Adicionar</button></td>
                    <td><h2>R$ {{mshakes.total}}</h3></td>
                </form>
            </tr>
            {% endfor %}

            {% for petits in petits1 %}
            <tr>
                <form method="GET">
                    <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                    <input type="hidden" name="item_petit_id" value="{{petits.id}}" />
                    <td><button class="no-click"><img src="../../static/app/img/{{petits.petit_item.img}}.png" /></button></td>
                    <td></td>
                    <td><button type="submit" class="style" formaction="/pedidos/adicionais/">Adicionar</button></td>
                    <td><h2>R$ {{petits.total}}</h3></td>
                </form>
            </tr>
            {% endfor %}

            {% for fondues in fondues1 %}
            <tr>
                <form method="GET">
                    <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                    <input type="hidden" name="item_fondue_id" value="{{fondues.id}}" />
                    <td><button class="no-click"><img src="../../static/app/img/{{fondues.fondue_item.img}}.png" /></button></td>
                    <td></td>
                    <td><button type="submit" class="style" formaction="/pedidos/adicionais/">Adicionar</button></td>
                    <td><h2>R$ {{fondues.total}}</h3></td>
                </form>
            </tr>
            {% endfor %}

            {% for sucos in sucos1 %}
            <tr>
                <form method="GET">
                    <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                    <input type="hidden" name="item_suco_id" value="{{sucos.id}}" />
                    <td><button class="no-click"><img src="../../static/app/img/{{sucos.suco_item.img}}.png" /></button></td>
                    <td></td>
                    <td><button type="submit" class="style" formaction="/pedidos/adicionais/">Adicionar</button></td>
                    <td><h2>R$ {{sucos.total}}</h3></td>
                </form>
            </tr>
            {% endfor %}
        
        </tbody>
        <form>
    </table>
    <br/>
    <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
    <button formaction="/pedidos/" class="style1">Adicionar outro item</button>
    
    <button formaction="/pedidos/metodo/" class="style1">Finalizar</button>
</form>
{% endblock %}