{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/pedidos">Novo Pedido <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link active" href="#">Finalizar <span class="sr-only">(current)</span></a>
                    </li>
            </ul>
        </nav>
    </div>
</div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Pedido</th>
                            <th>Tamanho</th>
                            <th>Adicionais</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acais in acais1 %}
                        <tr>
                            <form method="GET">
                                <input type="hidden" name="comanda_id" value="{{comanda_id}}" />    
                                <input type="hidden" name="item_acai_id" value="{{acais}}" />
                                <td><button class="no-click fundo1"><img src="../../static/img/{{acais.acai_item.img}}.png" /></button></td>
                                <td><button class="no-click fundo1" ><img src="../../static/img/{{acais.acai_item.tamanho}}.png" /></button></td>
                                <td><button type="submit" class="style fundo1" formaction="/pedidos/adicionais/">Adicionar</button></td>
                                <td><h2>R$ {{acais.total}}</h3></td>
                            </form>
                        </tr>
                        {% endfor %}

                        {% for casadinhos in casadinhos1 %}
                        <tr>
                            <form method="GET">
                                <input type="hidden" name="comanda_id" value="{{comanda_id}}" />   
                                <input type="hidden" name="item_casadinho_id" value="{{casadinhos}}" />
                                <td><button class="no-click fundo1"><img src="../../static/img/{{casadinhos.casadinho_item.img}}.png" /></button></td>
                                <td><button class="no-click fundo1"><img src="../../static/img/{{casadinhos.casadinho_item.tamanho}}.png" /></button></td>
                                <td><button type="submit" class="style fundo1" formaction="/pedidos/adicionais/">Adicionar</button></td>
                                <td><h2>R$ {{casadinhos.total}}</h3></td>
                            </form>
                        </tr>
                        {% endfor %}
                        
                        {% for mixs in mixs1 %}
                        <tr>
                            <form method="GET">
                                <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                                <input type="hidden" name="item_mix_id" value="{{mixs}}" />
                                <td><button class="no-click fundo1"><img src="../../static/img/{{mixs.mix_item.img}}.png" /></button></td>
                                <td><button class="no-click fundo1"><img src="../../static/img/{{mixs.mix_item.tamanho}}.png" /></button></td>
                                <td><button type="submit" class="style fundo1" formaction="/pedidos/adicionais/">Adicionar</button></td>
                                <td><h2>R$ {{mixs.total}}</h3></td>
                            </form>
                        </tr>
                        {% endfor %}

                        {% for cremes in cremes1 %}
                        <tr>
                            <form method="GET">
                                <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                                <input type="hidden" name="item_creme_id" value="{{cremes}}" />
                                <td><button class="no-click fundo1"><img src="../../static/img/{{cremes.creme_item.img}}.png" /></button></td>
                                <td><button class="no-click fundo1"><img src="../../static/img/{{cremes.creme_item.tamanho}}.png" /></button></td>
                                <td><button type="submit" class="style fundo1" formaction="/pedidos/adicionais/">Adicionar</button></td>
                                <td><h2>R$ {{cremes.total}}</h3></td>
                            </form>
                        </tr>
                        {% endfor %}

                        {% for produtos in produtos1 %}
                        <tr>
                            <form method="GET">
                                <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                                <input type="hidden" name="item_produto_id" value="{{produtos.id}}" />
                                <td><button class="no-click fundo1"><img src="../../static/img/{{produtos.produto_item.img}}.png" /></button></td>
                                <td></td>
                                <td></td>
                                <td><h2>R$ {{produtos.total}}</h3></td>
                            </form>
                        </tr>
                        {% endfor %}

                        {% for sorvetes in sorvetes1 %}
                        <tr>
                            <form method="GET">
                                <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                                <input type="hidden" name="item_sorvete_id" value="{{sorvetes}}" />
                                <td><button class="no-click fundo1"><img src="../../static/img/{{sorvetes.sorvete_item.img}}.png" /></button></td>
                                <td></td>
                                <td><button type="submit" class="style fundo1" formaction="/pedidos/adicionais/">Adicionar</button></td>
                                <td><h2>R$ {{sorvetes.total}}</h3></td>
                            </form>
                        </tr>
                        {% endfor %}

                        {% for mshakes in mshakes1 %}
                        <tr>
                            <form method="GET">
                                <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                                <input type="hidden" name="item_mshake_id" value="{{mshakes.id}}" />
                                <td><button class="no-click fundo1"><img src="../../static/img/{{mshakes.mshake_item.img}}.png" /></button></td>
                                <td><button class="no-click fundo1"><img src="../../static/img/{{mshakes.mshake_item.tamanho}}.png" /></button></td>
                                <td><button type="submit" class="style fundo1" formaction="/pedidos/adicionais/">Adicionar</button></td>
                                <td><h2>R$ {{mshakes.total}}</h3></td>
                            </form>
                        </tr>
                        {% endfor %}

                        {% for petits in petits1 %}
                        <tr>
                            <form method="GET">
                                <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                                <input type="hidden" name="item_petit_id" value="{{petits.id}}" />
                                <td><button class="no-click fundo1"><img src="../../static/img/{{petits.petit_item.img}}.png" /></button></td>
                                <td></td>
                                <td><button type="submit" class="style fundo1" formaction="/pedidos/adicionais/">Adicionar</button></td>
                                <td><h2>R$ {{petits.total}}</h3></td>
                            </form>
                        </tr>
                        {% endfor %}

                        {% for fondues in fondues1 %}
                        <tr>
                            <form method="GET">
                                <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                                <input type="hidden" name="item_fondue_id" value="{{fondues.id}}" />
                                <td><button class="no-click fundo1"><img src="../../static/img/{{fondues.fondue_item.img}}.png" /></button></td>
                                <td></td>
                                <td><button type="submit" class="style fundo1" formaction="/pedidos/adicionais/">Adicionar</button></td>
                                <td><h2>R$ {{fondues.total}}</h3></td>
                            </form>
                        </tr>
                        {% endfor %}

                        {% for sucos in sucos1 %}
                        <tr>
                            <form method="GET">
                                <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                                <input type="hidden" name="item_suco_id" value="{{sucos.id}}" />
                                <td><button class="no-click fundo1"><img src="../../static/img/{{sucos.suco_item.img}}.png" /></button></td>
                                <td></td>
                                <td><button type="submit" class="style fundo1" formaction="/pedidos/adicionais/">Adicionar</button></td>
                                <td><h2>R$ {{sucos.total}}</h3></td>
                            </form>
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                    <form>
                </table>
                <br/>
                <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
                <button formaction="/pedidos/" class="style1 fundo1">Adicionar outro item</button>
                
                <button autofocus formaction="/pedidos/metodo/" class="style1 fundo1">Finalizar</button>
            </form>
        </div>
    </div>
</section>
</main>
    {% endblock %}