{% extends 'base.html' %}
{% block body %}
<form method="GET" action="/pedidos/tamanho">
    <button type="submit" name="pedido" value="milkcremebranco"><img src="../../static/app/img/milkcremebranco.png" /></button>
    <button type="submit" name="pedido" value="milkmorango"><img src="../../static/app/img/milkmorango.png" /></button>
    <button type="submit" name="pedido" value="milkchocolate"><img src="../../static/app/img/milkchocolate.png" /></button>
    <button type="submit" name="pedido" value="milkninho"><img src="../../static/app/img/milkninho.png" /></button>
    <button type="submit" name="pedido" value="milkovomaltine"><img src="../../static/app/img/milkovomaltine.png" /></button>
    <button type="submit" name="pedido" value="milkoreo"><img src="../../static/app/img/milkoreo.png" /></button>
    <button type="submit" name="pedido" value="milkcappuccino"><img src="../../static/app/img/milkcappuccino.png" /></button>
    <button type="submit" name="pedido" value="milkpacoca"><img src="../../static/app/img/milkpacoca.png" /></button>
    <button type="submit" name="pedido" value="milkcookies"><img src="../../static/app/img/milkcookies.png" /></button>
    <button type="submit" name="pedido" value="milkmorangoovomaltine"><img src="../../static/app/img/milkmorangoovomaltine.png" /></button>
    <button type="submit" name="pedido" value="milkmorangonutella"><img src="../../static/app/img/milkmorangonutella.png" /></button>
    <button type="submit" name="pedido" value="milkovomaltinenutella"><img src="../../static/app/img/milkovomaltinenutella.png" /></button>
    <button type="submit" name="pedido" value="milkninhonutella"><img src="../../static/app/img/milkninhonutella.png" /></button>
</form>
{% endblock %}