{% extends 'base.html' %}
{% block body %}
<form method="GET">
    <button type="submit" name="mix" value="1"><img src="../../static/app/img/mix1.png" /></button>
    <button type="submit" name="mix" value="2"><img src="../../static/app/img/mix2.png" /></button>
    <button type="submit" name="mix" value="3"><img src="../../static/app/img/mix3.png" /></button>
    <button type="submit" name="mix" value="4"><img src="../../static/app/img/mix4.png" /></button>
    <button type="submit" name="mix" value="5"><img src="../../static/app/img/mix5.png" /></button>
    <button type="submit" name="mix" value="6"><img src="../../static/app/img/mix6.png" /></button>
    <button type="submit" name="mix" value="7"><img src="../../static/app/img/mix7.png" /></button>
    <button type="submit" name="mix" value="8"><img src="../../static/app/img/mix8.png" /></button>
    <button type="submit" name="mix" value="9"><img src="../../static/app/img/mix9.png" /></button>
    <button type="submit" name="mix" value="10"><img src="../../static/app/img/mix10.png" /></button>
</form>
{% endblock %}