{% extends 'base.html' %}
{% block body %}
 <div id="navbar" class="teste collapse navbar-collapse ">
    <ul class="nav navbar-nav">
        <li><a href="acai1"><img src="../../static/app/img/acai.png" /><center>Açaí na Tigela</center></a></li>
        <li><a href="casadinho"><img src="../../static/app/img/casadinho1.png" /><center>Casadinho</center></a></li>
        <li><a href="acaimix"><img src="../../static/app/img/acaimix.png" /><center>Açaí Mix</center></a></li>
    </ul>
</div>
{% endblock %}