{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/pedidos">Novo Pedido <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link active" href="#">Novo Sorvete <span class="sr-only">(current)</span></a>
                    </li>
            </ul>
        </nav>
    </div>
</div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <form method="GET" action="/pedidos/confirmacao/">
                    <input type="hidden" name="comanda_id" value={{comanda_id}} />
                    <button class="fundo1" type="submit" name="pedido" value="cascao"><img src="../../static/img/cascao.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="simples"><img src="../../static/img/simples.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="sundae"><img src="../../static/img/sundae.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="kids"><img src="../../static/img/kids.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="morango"><img src="../../static/img/morango.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="napolitano"><img src="../../static/img/napolitano.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="brigadeiro"><img src="../../static/img/brigadeiro.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="beijinho"><img src="../../static/img/beijinho.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="ninho"><img src="../../static/img/ninho.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="lacta"><img src="../../static/img/lacta.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="kitkat"><img src="../../static/img/kitkat.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="bis"><img src="../../static/img/bis.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="ovomaltine"><img src="../../static/img/ovomaltine.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="oreo"><img src="../../static/img/oreo.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="churros"><img src="../../static/img/churros.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="merenguemorango"><img src="../../static/img/merenguemorango.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="sonhodevalsa"><img src="../../static/img/sonhodevalsa.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="ourobranco"><img src="../../static/img/ourobranco.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="bananasplit"><img src="../../static/img/bananasplit.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="sorv_bola"><img src="../../static/img/sorv_bola.png" /></button>                    
                </form>
            </div>
        </div>
    </section>
</main>
        {% endblock %}