{% extends 'base.html' %}
{% block body %}
<form method="GET">
    <button type="submit" name="sorvete" value="cascao"><img src="../../static/app/img/cascao.png" /></button>
    <button type="submit" name="sorvete" value="simples"><img src="../../static/app/img/simples.png" /></button>
    <button type="submit" name="sorvete" value="sundae"><img src="../../static/app/img/sundae.png" /></button>
    <button type="submit" name="sorvete" value="kids"><img src="../../static/app/img/kids.png" /></button>
    <button type="submit" name="sorvete" value="morango"><img src="../../static/app/img/morango.png" /></button>
    <button type="submit" name="sorvete" value="napolitano"><img src="../../static/app/img/napolitano.png" /></button>
    <button type="submit" name="sorvete" value="brigadeiro"><img src="../../static/app/img/brigadeiro.png" /></button>
    <button type="submit" name="sorvete" value="beijinho"><img src="../../static/app/img/beijinho.png" /></button>
    <button type="submit" name="sorvete" value="ninho"><img src="../../static/app/img/ninho.png" /></button>
    <button type="submit" name="sorvete" value="lacta"><img src="../../static/app/img/lacta.png" /></button>
    <button type="submit" name="sorvete" value="kitkat"><img src="../../static/app/img/kitkat.png" /></button>
    <button type="submit" name="sorvete" value="bis"><img src="../../static/app/img/bis.png" /></button>
    <button type="submit" name="sorvete" value="ovomaltine"><img src="../../static/app/img/ovomaltine.png" /></button>
    <button type="submit" name="sorvete" value="oreo"><img src="../../static/app/img/oreo.png" /></button>
    <button type="submit" name="sorvete" value="churros"><img src="../../static/app/img/churros.png" /></button>
    <button type="submit" name="sorvete" value="merenguemorango"><img src="../../static/app/img/merenguemorango.png" /></button>
    <button type="submit" name="sorvete" value="sonhodevalsa"><img src="../../static/app/img/sonhodevalsa.png" /></button>
    <button type="submit" name="sorvete" value="ourobranco"><img src="../../static/app/img/ourobranco.png" /></button>
</form>
{% endblock %}