{% extends 'base.html' %}
{% block body %}
<form method="GET" action="/pedidos/confirmacao/">
    <input type="hidden" name="comanda_id" value={{comanda_id}} />
    <button type="submit" name="pedido" value="cascao"><img src="../../static/app/img/cascao.png" /></button>
    <button type="submit" name="pedido" value="simples"><img src="../../static/app/img/simples.png" /></button>
    <button type="submit" name="pedido" value="sundae"><img src="../../static/app/img/sundae.png" /></button>
    <button type="submit" name="pedido" value="kids"><img src="../../static/app/img/kids.png" /></button>
    <button type="submit" name="pedido" value="morango"><img src="../../static/app/img/morango.png" /></button>
    <button type="submit" name="pedido" value="napolitano"><img src="../../static/app/img/napolitano.png" /></button>
    <button type="submit" name="pedido" value="brigadeiro"><img src="../../static/app/img/brigadeiro.png" /></button>
    <button type="submit" name="pedido" value="beijinho"><img src="../../static/app/img/beijinho.png" /></button>
    <button type="submit" name="pedido" value="ninho"><img src="../../static/app/img/ninho.png" /></button>
    <button type="submit" name="pedido" value="lacta"><img src="../../static/app/img/lacta.png" /></button>
    <button type="submit" name="pedido" value="kitkat"><img src="../../static/app/img/kitkat.png" /></button>
    <button type="submit" name="pedido" value="bis"><img src="../../static/app/img/bis.png" /></button>
    <button type="submit" name="pedido" value="ovomaltine"><img src="../../static/app/img/ovomaltine.png" /></button>
    <button type="submit" name="pedido" value="oreo"><img src="../../static/app/img/oreo.png" /></button>
    <button type="submit" name="pedido" value="churros"><img src="../../static/app/img/churros.png" /></button>
    <button type="submit" name="pedido" value="merenguemorango"><img src="../../static/app/img/merenguemorango.png" /></button>
    <button type="submit" name="pedido" value="sonhodevalsa"><img src="../../static/app/img/sonhodevalsa.png" /></button>
    <button type="submit" name="pedido" value="ourobranco"><img src="../../static/app/img/ourobranco.png" /></button>
</form>
{% endblock %}