{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/pedidos">Novo Pedido <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link active" href="#">Novo Suco <span class="sr-only">(current)</span></a>
                    </li>
            </ul>
        </nav>
    </div>
</div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <form method="GET" action="/pedidos/confirmacao/">
                    <input type="hidden" name="comanda_id" value={{comanda_id}} />
                    <button class="fundo1" type="submit" name="pedido" value="sucolaranja"><img src="../../static/img/sucolaranja.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="sucolaranjaacerola"><img src="../../static/img/sucolaranjaacerola.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="sucoacerola"><img src="../../static/img/sucoacerola.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="sucomorango"><img src="../../static/img/sucomorango.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="sucomaracuja"><img src="../../static/img/sucomaracuja.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="sucocupuacu"><img src="../../static/img/sucocupuacu.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="sucoabacaxi"><img src="../../static/img/sucoabacaxi.png" /></button>
                    <button class="fundo1" type="submit" name="pedido" value="sucoabacaxihortela"><img src="../../static/img/sucoabacaxihortela.png" /></button>
                </form>
            </div>
        </div>
    </section>
</main>
        {% endblock %}