{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/pedidos">Novo Pedido <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link active" href="#">Tamanho <span class="sr-only">(current)</span></a>
                    </li>
            </ul>
        </nav>
    </div>
</div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <h3>Pedido:</h3>
                <button class="fundo1" class="no-click"><img src="../../static/app/img/{{pedido1}}.png" /></button>
                <form method="POST" action="/pedidos/finalizar/">
                    {% csrf_token %}
                    <input type="hidden" name="comanda_id" value={{comanda_id}} />
                    <input type="hidden" name="pedido" value="{{pedido1}}" />
                    <h3>Tamanho:</h3>
                    <button class="fundo1" type="submit" name="tamanho" value="P"><img src="../../static/img/P.png" /></button>
                    <button class="fundo1" type="submit" name="tamanho" value="G"><img src="../../static/img/G.png" /></button>
                    <button class="fundo1" type="submit" name="tamanho" value="GG"><img src="../../static/img/GG.png" /></button>
                </form>
            </div>
        </div>
    </section>
</main>
        {% endblock %}