{% extends 'base.html' %}
{% block body %}
<form method="GET" action="/pedidos/finalizar1/">
    <input type="hidden" name="comanda_id" value="{{comanda_atual.id}}" />
    <input type="hidden" name="recebido" value="{{recebido}}" />
    <input type="hidden" name="troco" value="{{troco}}" />
<h3 class="total"> Total: {{comanda_atual.total}}</h3>
    <h3>
    Recebido:
    <input class="total" type="number" step="0.01" value={{recebido}} readonly/>
    <br>
    Troco:
    <input class="total" value={{troco}} readonly></h3>
    <br />
    <button autofocus class="style1" type="submit">Finalizar</button>
</form>
{% endblock %}