{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/outros">Outros <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <form >
                    <button class="fundo1" type="submit" formaction="addacai">Adicionar açaí</button>
                    <button class="fundo1" type="submit" formaction="addcasadinho">Adicionar Casadinho</button>
                    <button class="fundo1" type="submit" formaction="addmix">Adicionar Mix</button>
                    <button class="fundo1" type="submit" formaction="addcreme">Adicionar Creme</button>
                    <button class="fundo1" type="submit" formaction="addsorvete">Adicionar Sorvete</button>
                    <button class="fundo1" type="submit" formaction="addmshake">Adicionar Milk Shake</button>
                    <button class="fundo1" type="submit" formaction="addpetit">Adicionar Petit Gateau</button>
                    <button class="fundo1" type="submit" formaction="addfondue">Adicionar Fondue</button>
                    <button class="fundo1" type="submit" formaction="addadicional">Adicionar Adicional</button>
                    <button class="fundo1" type="submit" formaction="addproduto">Adicionar Produto</button>
                    <button class="fundo1" type="submit" formaction="addsuco">Adicionar Suco</button>
                </form>
            </div>
        </div>
    </section>
</maSin>
        {% endblock %}