.mynavbar {
    background: #639636;
    background: -moz-linear-gradient(270deg, #82FFAA 0%, #308060 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82FFAA), color-stop(100%, #308060)); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, #82FFAA 0%, #308060 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, #82FFAA 0%, #308060 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, #82FFAA 0%, #308060 100%); /* ie10+ */
    background: linear-gradient(180deg, #82FFAA 0%, #308060 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82FFAA', endColorstr='#308060',GradientType=0 ); /* ie6-9 */
    min-height: 160px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #551a8b;
    margin-bottom: 19px;
    color: #eaeaea;
}

.myjumbotron {
    background-color: #000000;
    background: -moz-linear-gradient(270deg, #82FFAA 0%, #308060 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82FFAA), color-stop(100%, #308060)); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, #82FFAA 0%, #308060 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, #82FFAA 0%, #308060 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, #82FFAA 0%, #308060 100%); /* ie10+ */
    background: linear-gradient(180deg, #82FFAA 0%, #308060 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82FFAA', endColorstr='#308060',GradientType=0 ); /* ie6-9 */
    min-height: 350px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #551a8b;
    margin-bottom: 19px;
    color: #eaeaea;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

label > input { /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

    label > input + img { /* IMAGE STYLES */
        cursor: pointer;
        border: 2px solid transparent;
    }

    label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
        border: 2px solid #ed7357;
    }



